<?xml version="1.0"?>
<!--
/**
 * @category   Narno
 * @package    Narno_Mailjet
 * @copyright  Copyright (c) 2011-2013 Narno (http://narno.com)
 * @author     Arnaud Ligny <contact@narno.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Narno_Mailjet>
            <version>0.0.1</version>
        </Narno_Mailjet>
    </modules>
    <settings>
        <debug>1</debug>
    </settings>
    <crontab>
        <jobs>
            <narno_mailjet_scheduled_actions>
                <!-- every day at 01:00am -->
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>narno_mailjet/observer::scheduledActions</model></run>
            </narno_mailjet_scheduled_actions>
        </jobs>
    </crontab>
    <global>
        <helpers>
            <narno_mailjet>
                <class>Narno_Mailjet_Helper</class>
            </narno_mailjet>
        </helpers>
        <blocks>
            <narno_mailjet>
                 <class>Narno_Mailjet_Block</class>
            </narno_mailjet>
        </blocks>
        <models>
             <narno_mailjet>
                  <class>Narno_Mailjet_Model</class>
             </narno_mailjet>
             <core>
                 <rewrite>
                     <email_template>Narno_Mailjet_Model_Email_Template</email_template>
                 </rewrite>
             </core>
        </models>
    </global>
    <frontend>
        <events>
            <!-- customer events -->
            <customer_save_commit_after>
                <observers>
                    <narno_mailjet_add_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateCustomer</method>
                    </narno_mailjet_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <narno_mailjet_delete_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>deleteCustomer</method>
                    </narno_mailjet_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!-- subscriber events -->
            <newsletter_subscriber_save_before>
                <observers>
                    <narno_mailjet_update_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </narno_mailjet_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <narno_mailjet_update_mailjet_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateSubscriber</method>
                    </narno_mailjet_update_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <!-- block events -->
            <core_block_abstract_to_html_before>
                <observers>
                    <narno_mailjet_block_newsletter_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>beforeBlockToHtml</method>
                    </narno_mailjet_block_newsletter_subscriber>
                </observers>
            </core_block_abstract_to_html_before>
            <!-- customer events -->
            <customer_save_commit_after>
                <observers>
                    <narno_mailjet_add_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateCustomer</method>
                    </narno_mailjet_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <narno_mailjet_delete_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>deleteCustomer</method>
                    </narno_mailjet_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!-- subscriber events -->
            <newsletter_subscriber_save_before>
                <observers>
                    <narno_mailjet_update_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </narno_mailjet_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <narno_mailjet_update_mailjet_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>updateSubscriber</method>
                    </narno_mailjet_update_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <narno_mailjet_delete_mailjet_subscriber>
                        <type>singleton</type>
                        <class>narno_mailjet/observer</class>
                        <method>deleteSubscriber</method>
                    </narno_mailjet_delete_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_delete_after>
        </events>
        <translate>
            <modules>
                <Narno_Mailjet>
                    <files>
                        <default>Narno_Mailjet.csv</default>
                    </files>
                </Narno_Mailjet>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mailjet after="Mage_Adminhtml">Narno_Mailjet_Adminhtml</mailjet>
                    </modules>
                </args>
            </adminhtml>
            <Narno_Mailjet>
                <use>admin</use>
                <args>
                    <module>Narno_Mailjet</module>
                    <frontName>mailjet</frontName>
                </args>
            </Narno_Mailjet>
        </routers>
    </admin>
    <default>
        <mailjet>
            <smtp>
                <enabled>0</enabled>
                <host>in.mailjet.com</host>
                <port>587</port>
                <ssl>tls</ssl>
            </smtp>
        </mailjet>
    </default>
</config>