<?xml version="1.0"?>
<!--
/**
 * @category   Narno
 * @package    Narno_Mailjet
 * @copyright  Copyright (c) 2011-2013 Narno (http://narno.com)
 * @author     Arnaud Ligny <contact@narno.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <mailjet translate="label" module="narno_mailjet">
            <label>Mailjet</label>
            <tab>customer</tab>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <authentication translate="label comment">
                    <comment><![CDATA[<a href="https://www.mailjet.com/?p=AFFILIATE_TAG" target="_blank">Get a Mailjet free account</a>]]></comment>
                    <label>Authentication</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <apikey translate="label">
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                        <secretkey translate="label">
                            <label>Secret key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secretkey>
                    </fields>
                </authentication>
                <smtp>
                    <label>SMTP</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <tooltip>If No, use the default Magento configuration.</tooltip>
                            <comment>Use Mailjet SMTP to send transactional emails.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <test translate="label comment">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>narno_mailjet/adminhtml_form_testsmtpbutton</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Sends an email to the Contact Us form recipient.</comment>
                        </test>
                    </fields>
                </smtp>
                <api>
                    <label>API</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>30</sort_order>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment>Use Mailjet API to synchronize Magento newsletter subscribers with Mailjet list(s).</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <listid translate="label comment">
                            <label>List ID</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Magento users who subscribe/unsubscribe to the newsletter will be added/removed from this list.</comment>
                        </listid>
                        <test translate="label">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>narno_mailjet/adminhtml_form_testapibutton</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </test>
                        <use_proxy translate="label">
                            <label>Uses Proxy</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </use_proxy>
                        <proxy_host translate="label">
                            <label>Proxy Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <depends><use_proxy>1</use_proxy></depends>
                            <comment>Without http:// or https://.</comment>
                        </proxy_host>
                        <proxy_port translate="label">
                            <label>Proxy Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <depends><use_proxy>1</use_proxy></depends>
                        </proxy_port>
                    </fields>
                </api>
            </groups>
        </mailjet>
    </sections>
</config>