<?xml version="1.0"?>
<!--
/**
 * @package    AL_Mailjet
 * @copyright  Copyright (c) 2015 Arnaud Ligny
 * @author     Arnaud Ligny <arnaud@ligny.org>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <AL_Mailjet>
            <version>0.0.2</version>
        </AL_Mailjet>
    </modules>
    <settings>
        <debug>1</debug>
    </settings>
    <crontab>
        <jobs>
            <al_mailjet_scheduled_actions>
                <!-- every day at 01:00am -->
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>al_mailjet/observer::scheduledActions</model></run>
            </al_mailjet_scheduled_actions>
        </jobs>
    </crontab>
    <global>
        <helpers>
            <al_mailjet>
                <class>AL_Mailjet_Helper</class>
            </al_mailjet>
        </helpers>
        <blocks>
            <al_mailjet>
                 <class>AL_Mailjet_Block</class>
            </al_mailjet>
        </blocks>
        <models>
             <al_mailjet>
                  <class>AL_Mailjet_Model</class>
                  <resourceModel>al_mailjet_mysql4</resourceModel>
             </al_mailjet>
             <al_mailjet_mysql4>
                <class>AL_Mailjet_Model_Mysql4</class>
             </al_mailjet_mysql4>
             <core>
                 <rewrite>
                     <email_template>AL_Mailjet_Model_Email_Template</email_template>
                 </rewrite>
             </core>
        </models>
        <resources>
            <al_mailjet_setup>
                <setup>
                    <module>AL_Mailjet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </al_mailjet_setup>
            <al_mailjet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </al_mailjet_write>
            <al_mailjet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </al_mailjet_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <monkey>
                <use>standard</use>
                <args>
                    <module>AL_Mailjet</module>
                    <frontName>mailjet</frontName>
                </args>
            </monkey>
        </routers>
        <events>
            <!-- customer events -->
            <customer_save_commit_after>
                <observers>
                    <al_mailjet_add_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateCustomer</method>
                    </al_mailjet_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <al_mailjet_delete_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>deleteCustomer</method>
                    </al_mailjet_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!-- subscriber events -->
            <newsletter_subscriber_save_before>
                <observers>
                    <al_mailjet_update_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </al_mailjet_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <al_mailjet_update_mailjet_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateSubscriber</method>
                    </al_mailjet_update_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <!-- block events -->
            <core_block_abstract_to_html_before>
                <observers>
                    <al_mailjet_block_newsletter_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>beforeBlockToHtml</method>
                    </al_mailjet_block_newsletter_subscriber>
                </observers>
            </core_block_abstract_to_html_before>
            <!-- customer events -->
            <customer_save_commit_after>
                <observers>
                    <al_mailjet_add_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateCustomer</method>
                    </al_mailjet_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <al_mailjet_delete_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>deleteCustomer</method>
                    </al_mailjet_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!-- subscriber events -->
            <newsletter_subscriber_save_before>
                <observers>
                    <al_mailjet_update_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </al_mailjet_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <al_mailjet_update_mailjet_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>updateSubscriber</method>
                    </al_mailjet_update_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <al_mailjet_delete_mailjet_subscriber>
                        <type>singleton</type>
                        <class>al_mailjet/observer</class>
                        <method>deleteSubscriber</method>
                    </al_mailjet_delete_mailjet_subscriber>
                </observers>
            </newsletter_subscriber_delete_after>
        </events>
        <translate>
            <modules>
                <AL_Mailjet>
                    <files>
                        <default>AL_Mailjet.csv</default>
                    </files>
                </AL_Mailjet>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mailjet after="Mage_Adminhtml">AL_Mailjet_Adminhtml</mailjet>
                    </modules>
                </args>
            </adminhtml>
            <AL_Mailjet>
                <use>admin</use>
                <args>
                    <module>AL_Mailjet</module>
                    <frontName>mailjet</frontName>
                </args>
            </AL_Mailjet>
        </routers>
    </admin>
    <default>
        <mailjet>
            <smtp>
                <enabled>0</enabled>
                <host>in.mailjet.com</host>
                <port>587</port>
                <ssl>tls</ssl>
            </smtp>
        </mailjet>
    </default>
</config>